[Unit]
Description=Synchronize external calendars with any CalDAV server
After=network.target

[Service]
Type=oneshot
User=www-data
ExecStart=/var/www/html/webapps/icalsync/updater.php
WorkingDirectory=/var/www/html/webapps/icalsync
